	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
  <div class="col-xs-9">
  	<div ng-controller="ButtonsCtrl">
    <div class="btn-group">
       <a class="waves-effect waves-light btn"><i class="material-icons left"></i>Friday</a>
        <a class="waves-effect waves-light btn"><i class="material-icons left"></i>Saturday</a>
        <a class="waves-effect waves-light btn"><i class="material-icons left"></i>Sunday</a>
         <button id="lineup" class="btn waves-effect waves-light" type="submit" name="action">Linup
    <i class="material-icons">send</i>
  </button>
    </div>
    
</div>




  </div>
 
  <div class="col-xs-4">
  	<ul>
  		<li>Share :</li>
  		<li><a href=""><img src="images/facebook.png" height="22" width="22"></a></li>
  		<li><a href=""><img src="images/instagram.png" height="22" width="22"></a></li>
  		<li><a href=""><img src="images/twitter.png" height="22" width="22"></a></li>
  	




  	</ul>





  </div>
  <div class="col-xs-6">







  </div>
</div>

